// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$app-primary: (
  50 : #fdf7e5,
  100 : #faecbe,
  200 : #f7e092,
  300 : #f4d366,
  400 : #f1c946,
  500 : #efc025,
  600 : #edba21,
  700 : #ebb21b,
  800 : #e8aa16,
  900 : #e49c0d,
  A100 : #ffffff,
  A200 : #fff2dc,
  A400 : #ffe0a9,
  A700 : #ffd690,
  contrast: (
      50 : #333333,
      100 : #333333,
      200 : #333333,
      300 : #333333,
      400 : #333333,
      500 : #333333,
      600 : #333333,
      700 : #333333,
      800 : #333333, 
      900 : #333333,
      A100 : #333333,
      A200 : #333333,
      A400 : #333333,
      A700 : #333333,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$app-secondary: (
    50 : #faf6ea,
    100 : #f3e9c9,
    200 : #ebdba6,
    300 : #e2cc82,
    400 : #dcc167,
    500 : #333333,
    600 : #d1af45,
    700 : #cca63c,
    800 : #c69e33,
    900 : #bc8e24,
    A100 : #fffdf7,
    A200 : #ffecc4,
    A400 : #ffdc91,
    A700 : #ffd478,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$beer-list-primary: mat-palette($app-primary);
$beer-list-accent: mat-palette($app-secondary);

// The warn palette is optional (defaults to red).
$beer-list-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$beer-list-theme: mat-light-theme($beer-list-primary, $beer-list-accent, $beer-list-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($beer-list-theme);
