$app-primary: (
  50: #fdf7e5,
  100: #faecbe,
  200: #f7e092,
  300: #f4d366,
  400: #f1c946,
  500: #efc025,
  600: #edba21,
  700: #ebb21b,
  800: #e8aa16,
  900: #e49c0d,
  A100: #fafafa,
  A200: #f0f0f0,
  A400: #e0e0e0,
  A700: #ffd690,
  contrast: (
    50: #333333,
    100: #333333,
    200: #333333,
    300: #333333,
    400: #333333,
    500: #333333,
    600: #333333,
    700: #333333,
    800: #333333,
    900: #333333,
    A100: #333333,
    A200: #333333,
    A400: #333333,
    A700: #333333
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$app-accent: (
  50: #faf6ea,
  100: #f3e9c9,
  200: #ebdba6,
  300: #e2cc82,
  400: #dcc167,
  500: #d1af45,
  600: #d1af45,
  700: #cca63c,
  800: #c69e33,
  900: #bc8e24,
  A100: #fffdf7,
  A200: #ffecc4,
  A400: #ffdc91,
  A700: #ffd478,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$app-dark: (
  50: #fdf7e5,
  100: #faecbe,
  200: #f7e092,
  300: #f4d366,
  400: #f1c946,
  500: #efc025,
  600: #edba21,
  700: #ebb21b,
  800: #e8aa16,
  900: #e49c0d,
  A100: #fafafa,
  A200: #f0f0f0,
  A400: #e0e0e0,
  A700: #ffd690,
  contrast: (
    50: #333333,
    100: #333333,
    200: #333333,
    300: #333333,
    400: #333333,
    500: #333333,
    600: #333333,
    700: #333333,
    800: #333333,
    900: #333333,
    A100: #333333,
    A200: #333333,
    A400: #333333,
    A700: #333333
  )
);
