<div class="app-content" >
  <div class="filter-bar">
    <input type="text" class="search-input" placeholder="Search" [(ngModel)]="searchInput">
  </div>


  <div class="list-container">
    <mat-list>
      <span *ngFor="let cat of beerList">
        <h3 mat-subheader>{{cat.cat}}</h3>
      
        <mat-list-item *ngFor="let beer of cat.beers | filter: searchInput:'brand'" [class.checked-item]="isBeerChecked(beer.checked)">
          <h4 mat-line>{{beer.brand}}</h4>
          <p mat-line>{{beer.name}}  {{beer.perc}}</p>
          <mat-checkbox class="checkbox" color="primary" [ngModel]="isBeerChecked(beer.checked)" (change)="checkBeer($event, beer)"></mat-checkbox>
        </mat-list-item>
      </span>
    </mat-list>
  </div>
</div>