@import "~@angular/material/theming";

@mixin test-component-theme($theme) {
  $primary: map-get($map: $theme, $key: primary);
  $accent: map-get($map: $theme, $key: accent);

  mat-toolbar.test{
    margin:20px 0;
    background: mat-color($primary, 200) !important;
  }
}