<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="over" #sidenav>
    <mat-toolbar>
      <h2>Menu</h2>
    </mat-toolbar>
    <mat-nav-list class="main-menu">
      <mat-list-item [routerLink]="['/list']">
        Checklist
      </mat-list-item>
      <mat-list-item [routerLink]="['/manage']" *ngIf="auth.canEdit(user)">
        Manage List
      </mat-list-item>
      <mat-list-item [routerLink]="['/user']">
        Profile
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="fixed-toolbar" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Drink 'Em All</span> 
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
