@import '../colors';

$beer-list-primary: mat-palette($app-dark, 500, 300, 900);
$beer-list-accent: mat-palette($app-accent, 900);
$beer-list-warn: mat-palette($mat-red);

$beer-list-dark-theme: mat-light-theme($beer-list-primary, $beer-list-accent, $beer-list-warn);