<div class="app-content" >
  <div class="list-container">
    <mat-toolbar>
      Manage List
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let cat of beerList">
        <mat-expansion-panel-header>
          <mat-panel-title>{{cat.cat}}</mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-list>
          <mat-list-item *ngFor="let beer of cat.beers" class="beer-item">
            <h4 mat-line>{{beer.brand}} - {{beer.name}}</h4>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon (click)="deleteBeer(beer)">delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  <div class="button-container">
    <button mat-raised-button (click)="addBeer()" color="primary" [disabled]="">
      <mat-icon>add</mat-icon>
      Add Beer
    </button>
  </div>
</div>