@import 'variables';

.list-container{
  padding-top:0;
  padding-bottom:56px;

  .mat-list-item{
    // color:$text-color;
  }
}

::ng-deep .mat-list-base{
  .mat-list-item.beer-item{
    .mat-list-item-content{
      padding: 0 !important;
    }
  }
}
.button-container{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color: #fafafa;
  button{
    display:block;
    margin:16px auto;
  }
}